.containerImagem {

    img{
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%; 
        //border: solid;
    }
}

main {
    display: flex;
    flex-direction: center;
}

.containerForms{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        //border: solid red;
        width: 40%;
        font-size: 2rem;
        text-align: center;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 20vh; 
    input{
        width: 20vh;
        height: 5vh;
        border-radius: 6px;
    } 

    div{
        width: 50%;
        display: flex;
        justify-content: space-evenly ;

        .buttonEntrar{
            background-color: pink;
            width: 6vw;
            height: 5vh;
            border-radius: 6px;
        }

        .buttonCriar{
            background-color: violet;
            width: 6vw;
            height: 5vh;
            border-radius: 6px;
        }
    }
}